/* Estilos generales */
body {
  font-family: sans-serif;
  margin: 0;
  background-color: #e6f2ff; /* Azul muy claro */
    color: #1f3952; /* Azul más oscuro para el texto */
}

/* Contenedor principal del dashboard */
.dashboard-container {
  display: flex;
  min-height: 100vh;
}

/* Side menu */
.side-menu {
  width: 200px;
  background-color: #1f2937 ; /* Gris más oscuro para el menú */
  padding: 20px;
}

.side-menu h2 {
  color: #007bff; /* Azul para el título del menú */
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
}

.side-menu li a:hover {
  background-color: #374151;
  border-radius: 15px; /* Gris más claro al pasar el mouse */
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  background-color: #e5e7eb;  /* Fondo gris para el contenido principal */
  position: relative;
}

.main-content h1 {
  color: #333;
}

/*Esto es para cambiar el estilo del routerlink, cuando este activo y se este monstrando el componente*/
.active {
  font-weight: bold;
  background-color: #111827;
  border-radius: 15px;
}

/*Estilo para las cards*/

.card-container {
  display: flex; /* Convierte el contenedor en flexbox */
  flex-wrap: wrap; /* Permite que las cards se ajusten a varias líneas si no caben en una */
  gap: 20px; /* Espacio entre las cards */
  justify-content: center; /* Centra las cards horizontalmente */
}

.card {
  background-color: #FFFFFF; /* Fondo blanco */
  border-radius: 0.5rem; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  overflow: hidden; /* Evita que el contenido se salga de los bordes */
  width: 300px; /* Ancho fijo, puedes ajustarlo */
}

.card-content {
  padding: 1.5rem; /* Espacio interno */
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* Espacio entre elementos */
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827; /* Texto oscuro */
}

.card-description {
  font-size: 1rem;
  color: #6B7280; /* Texto gris */
  line-height: 1.5rem; /* Interlineado */
}

.card-footer {
  font-size: 1rem;
  color: #111827;
  margin-top: auto; /* Empuja el footer hacia abajo */
}

.card-button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center; /* Centra el botón */
}

.card-button button {
  background-color: #000000; /* Negro */
  color: #FFFFFF; /* Blanco */
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.375rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s; /* Transición suave */
}

.card-button button:hover {
  background-color: #1F2937; /* Negro más claro al pasar el mouse */
}

/* Estilos para el modal */
.modal {
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
  position:absolute;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative; /*Para posicionar el botón de cierre */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/*Estilo para el control de paginacion*/
.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5vh;
}

.pagination a, .pagination button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}

.pagination a.active {
  background-color: #1f2937;
  color: white;
  border-color: #1f2937;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 768px) {
  .dashboard-container {
      flex-direction: column; /* Cambiar a diseño de columna en pantallas pequeñas */
  }

  .side-menu {
      width: 100%;
  }
}
